    <nav class="main-nav">
        <ul>
            <li><a href="/users/sign_in" class="active" data-title="Login" data-panel="first"></a></li>
            <li><a href="/users/sign_up" data-title="Cadastro" data-panel="second"></a></li>
            <li><a href="/users/password/new" data-title="Recuperar senha" data-panel="third"></a></li>

        </ul>
    </nav>