# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d588b8a94b78bd667d9e77696fb959df0f4f995fc9e738a6d8697a9fdf7df7f7e21725de27aa1be931cb03e16b5301fb3dc2d1560952b4441759410409d4330c

test:
  secret_key_base: 6e59cd02b8f5da070e4e06a3ae16e14324571187d0533690e82509aa64f15cf45880ae22b52ea25b81c61057f730142f5dbc10c5e97e7476f65bf66dfaa46fa8

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
