.containerDetalhes {
	margin-top: 50px;
}
.azm-size-48_indexList{
	width:30px;
	height:30px;
	margin:0;
	font-size: 20px;
	line-height: 2px;
	padding-top: 7px;
}
.icone-evento-indexlist{
	font-size: 26px;
}