div.avatar-badge-file{
	p.avatar-badge-file-base{
		margin-top: 15px;
		i.fa-5x{
			font-size: 8em;
		}	
	}
	p.avatar-badge-file-icon{
		margin-top: -87px;
			i.fa-3x{
				color: #fff;
			
		}
	}


}

div.panel-footer{
  span{
    width: 169px;
    form{
      input[type=submit]{
        //background-color: #fff;

      }
    }
  }
}
div.reg-content
{
	height: 288px;
}